<suite name="Tests" parallel="false" thread-count="2">
	<parameter name="USED_ENVIRONMENT" value="TEST"></parameter>
	<parameter name="USED_SERVER" value="LOCAL"></parameter>
	<parameter name="USED_BROWSER" value="CHROME"></parameter>
	<suite-files>
		<suite-file path="src/main/resources/xml-tests/completed-suites/DEMO/SignUpSupporterDEMO.xml" />
		<suite-file path="src/main/resources/xml-tests/completed-suites/DEMO/EmailBlastSendTestAndClicksDEMO.xml" />
		<suite-file path="src/main/resources/xml-tests/completed-suites/DEMO/SignUpPetitionDEMO.xml" />		
		<suite-file path="src/main/resources/xml-tests/completed-suites/DEMO/DonateSupporterDEMO.xml" />
		<suite-file path="src/main/resources/xml-tests/completed-suites/DEMO/SendTLDEMO.xml" />
		<suite-file path="src/main/resources/xml-tests/completed-suites/DEMO/submitEventDEMO.xml" />
		<suite-file path="src/main/resources/xml-tests/completed-suites/DEMO/submitp2pEventDEMO.xml" />
		<!-- suite-file path="src/main/resources/xml-tests/completed-suites/BuyLicenseTest.xml" />
		<suite-file path="src/main/resources/xml-tests/completed-suites/EmailBlastSendTest.xml" />
		<suite-file path="src/main/resources/xml-tests/completed-suites/InviteNewCMTest.xml" />
		<suite-file path="src/main/resources/xml-tests/completed-suites/CreateDonationFormHostedPageTest.xml" />
		<suite-file path="src/main/resources/xml-tests/completed-suites/CreateSupporterManuallyTest.xml" />
		<suite-file path="src/main/resources/xml-tests/completed-suites/CreateSignupFormTest.xml" />
		<suite-file path="src/main/resources/xml-tests/completed-suites/SupporterSubscribeSignupFormTest.xml" />
		<suite-file path="src/main/resources/xml-tests/completed-suites/CreateCustomFieldTest.xml" />
		<suite-file path="src/main/resources/xml-tests/completed-suites/ImportSupportersTest.xml" />
		<suite-file path="src/main/resources/xml-tests/completed-suites/CreatePetitionTest.xml" />
		<suite-file path="src/main/resources/xml-tests/completed-suites/CreatePaymentGatewayTest.xml" />
		<suite-file path="src/main/resources/xml-tests/completed-suites/EmailBlastKPITest.xml" />
		<suite-file path="src/main/resources/xml-tests/completed-suites/CreateSocialPostTest.xml" />
		<suite-file path="src/main/resources/xml-tests/completed-suites/CreateSegmentTEst.xml" />
		<suite-file path="src/test/resources/xml-tests/completed-suites/CreateCustomTarget.xml" /> -->
	</suite-files>
</suite>
