<suite name="Tests" parallel="false" thread-count="2">
	<parameter name="USED_ENVIRONMENT" value="TEST"></parameter>
	<parameter name="USED_SERVER" value="LOCAL"></parameter>
	<suite-files>
		<suite-file path="src/test/resources/xml-tests/completed-suites/InviteNewCMTest.xml" />
		<suite-file path="src/test/resources/xml-tests/completed-suites/SupportRequestTest.xml" />
		<suite-file path="src/test/resources/xml-tests/completed-suites/CreateCustomFieldTest.xml" />
		<suite-file path="src/test/resources/xml-tests/completed-suites/ImportCustomFieldsTest.xml" />
		<suite-file path="src/test/resources/xml-tests/completed-suites/CreateSupporterManuallyTest.xml" />
		<suite-file path="src/test/resources/xml-tests/completed-suites/CreateSignupFormTest.xml" />
	</suite-files>
</suite>
